Repository miracum/recruit-query: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint dockerfile, lint compose

lint dockerfile:
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - hadolint Dockerfile

lint compose:
  stage: lint
  image:
    name: cytopia/yamllint:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - yamllint deploy/docker-compose*.yml

ci: added trivy scan job to pipeline
  .gitlab-ci.yml
Due: none

ci: ignoring CVE-2005-2541 vulnerability
  .trivyignore
Due: none

feat: moved to Spring-based configuration and setup
  .dockerignore
  .gitignore
  Dockerfile
  assembly.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  pom.xml
  settings.gradle
  src/main/java/org/miracum/recruit/query/FhirCohortTransactionBuilder.java
  src/main/java/org/miracum/recruit/query/FhirSystems.java
  src/main/java/org/miracum/recruit/query/MainApp.java
  src/main/java/org/miracum/recruit/query/QueryApplication.java
  src/main/java/org/miracum/recruit/query/models/CohortDefinition.java
  src/main/java/org/miracum/recruit/query/routes/AtlasWebApiRoute.java
  src/main/java/org/miracum/recruit/query/routes/AtlasWebApiRoutes.java
  src/main/java/org/miracum/recruit/query/routes/FhirRoute.java
  src/main/java/org/miracum/recruit/query/routes/FhirRoutes.java
  src/main/java/org/miracum/recruit/query/routes/MainRoutes.java
  src/main/java/org/miracum/recruit/query/routes/OmopRoute.java
  src/main/java/org/miracum/recruit/query/routes/Router.java
  src/main/java/org/miracum/recruit/query/util/InitUtils.java
  src/main/resources/application.yml
  src/main/resources/config.properties
  src/main/resources/logback.xml
  src/test/java/org/miracum/recruit/query/FhirCohortTransactionBuilderTests.java
  src/test/java/org/miracum/recruit/query/QueryApplicationTests.java
  src/test/java/org/miracum/recruit/query/test/IntegrationTest.java
  src/test/resources/config.properties
  src/test/resources/logback.xml
  tests.Dockerfile
Due: lint dockerfile

chore(deps): update dependency gradle to v6
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore: added GitLab issue template files
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Feature.md
Due: none

chore: upgraded camel and spring boot version
  .gitignore
  build.gradle
Due: none

chore: added IntelliJ IDEA project files
  .idea/$PRODUCT_WORKSPACE_FILE$
  .idea/$PROJECT_FILE$
  .idea/misc.xml
  .idea/qaplug_profiles.xml
  .idea/vcs.xml
Due: none

chore: ignoring node_modules folder
  .gitignore
Due: none

build(docker): switched to lower-memory footprint openj9 runtime image
  Dockerfile
Due: lint dockerfile

build(docker): using official adoptopenjdk image
  Dockerfile
Due: lint dockerfile

chore(deps): update dependency org.springframework.boot:spring-boot-gradle-plugin to v2.2.2.release
  build.gradle
Due: none

chore(deps): update dependency org.postgresql:postgresql to v42.2.9
  build.gradle
Due: none

feat: storing study candidates as ResearchSubjects in the screening list
  .gitignore
  src/main/java/org/miracum/recruit/query/FhirCohortTransactionBuilder.java
  src/test/java/org/miracum/recruit/query/FhirCohortTransactionBuilderTests.java
Due: none

ci: refactor ci pipeline
  .dockerignore
  .editorconfig
  .gitlab-ci.yml
  .idea/$PRODUCT_WORKSPACE_FILE$
  .idea/$PROJECT_FILE$
  .idea/misc.xml
  .idea/qaplug_profiles.xml
  .idea/vcs.xml
  .mdlrc
  .trivyignore
  .yamllint
  README.md
  renovate.json
  src/main/resources/application.yml
  src/test/java/org/miracum/recruit/query/FhirCohortTransactionBuilderTests.java
Due: none

chore: added more semantic commit types that cause patch releases
  .releaserc.json
Due: none

feat: configurable atlas generation data source and omop results table name
  src/main/java/org/miracum/recruit/query/routes/AtlasWebApiRoute.java
  src/main/java/org/miracum/recruit/query/routes/OmopRoute.java
  src/main/resources/application.yml
Due: none

chore(deps): update all dependencies
  build.gradle
  package-lock.json
  package.json
Due: none

chore(deps): update docker/compose docker tag to v1.25.1
  .gitlab-ci.yml
Due: none

chore(deps): update dependency husky to v4
  package-lock.json
  package.json
Due: none

chore(deps): update all dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  package.json
Due: none

chore(deps): update docker/compose docker tag to v1.25.3
  .gitlab-ci.yml
Due: none

ci: fixed env var names in staging compose
  deploy/docker-compose.staging.yml
Due: lint compose

chore(deps): update all dependencies docker tags
  .gitlab-ci.yml
  Dockerfile
Due: lint dockerfile

chore(deps): update dependency org.postgresql:postgresql to v42.2.10
  build.gradle
Due: none

chore(deps): update postgres docker tag to v12.2
  deploy/docker-compose.dev.yml
Due: lint compose

chore(deps): update gradle docker tag to v6.2.0
  Dockerfile
Due: lint dockerfile

chore(deps): update all dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update gradle docker tag to v6.2.1
  Dockerfile
Due: lint dockerfile

docs: translated issue template headings to German
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Feature.md
Due: none

docs: added merge request template
  .gitlab/merge_request_templates/Merge-Request.md
Due: none

chore(deps): update gradle docker tag to v6.2.2
  Dockerfile
Due: lint dockerfile

chore: updated FHIR server version - this one validates requests
  deploy/docker-compose.dev.yml
Due: lint compose

chore: cleaned up staging yaml
  deploy/docker-compose.staging.yml
Due: lint compose

chore: fixed deprecated dependency
  deploy/docker-compose.dev.yml
Due: lint compose

chore: revert wrong staging compose
  deploy/config-local.js
  deploy/docker-compose.staging.yml
Due: lint compose

ci: removed deployment stage
  .gitlab-ci.yml
Due: none

chore(deps): update dependency org.postgresql:postgresql to v42.2.11
  build.gradle
Due: none

Path conditions:
  lint dockerfile: any of: *Dockerfile
  lint compose: any of: deploy/*
